html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#console {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

#controllers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & div {
        display: flex;

        & button {
            margin: 1px;
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}

#game-window {
    flex: 1;
    min-width: 50dvw;
    height: 95dvh;
}