@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Science+Gothic:wght@100..900&family=Sekuya&display=swap');

:root {
    --primary-color: #180214;
    --secondary-color: #5aeb21;
    --black: #040018;
    --white: #eeeeee;
    --grey: #303330;
    --blue: #14075c;
    --default-transition-time: .2s;
    --default-transition-anim: ease;
    --default-transition: all .2s;
}

body {
    font-family: "google sans flex";
    background: linear-gradient(-90deg, var(--primary-color), var(--black));
    min-height: 100dvh;
    color: var(--secondary-color);
    background-size: 400%;
    animation: grad 10s ease infinite;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    font-family: "science gothic";
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--secondary-color);

    &:hover {
        text-decoration: underline;
    }
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    min-width: 1rem;
    min-height: 1rem;
}

input {
    outline: none;
    border: none;
    border-radius: 1rem;
    min-width: 12rem;
    min-height: 1.3rem;
    padding: .6rem;
    background-color: var(--grey);
    color: var(--white);
}

#chipex-nav {
    z-index: 9999;
    position: fixed;
    top: 1.2rem;
    left: 1.2rem;

    /* & .chipex-nav-scope {
        width: 30px;
    } */

    & .chipex-nav-items {
        transition: var(--default-transition);
        background-color: var(--blue);
        position: absolute;
        left: -100px;
    }

    & div {
        /* background-color: var(--blue);
        box-shadow: inset 0 0 0 1px var(--grey); */
        border-radius: 1rem;

        & button {
            background: none;

            &:hover {
                background-color: var(--grey);
            }

            &:active {
                background-color: var(--blue);
            }
        }

        & ul {
            padding: 0;
            margin: .3rem;

            & li {
                list-style-type: none;

                & a {
                    display: flex;
                    justify-content: center;
                    padding: 0 .5rem 0 .5rem;
                    position: relative;
                    min-width: 42px;
                    min-height: 42px;
                    height: 3rem;
                    align-items: center;
                    gap: .5rem;
                    text-decoration: none;
                    border-radius: 2rem;

                    &:hover {
                        background-color: var(--grey);
                    }

                    & .li-text {
                        display: none;
                    }

                    & .li-icon {
                        position: relative;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

}

#chipex-nav-button {
    border-radius: 2rem;
    padding: .4rem;
    width: 3rem;
    height: 3rem;
}

.chipex-nav-opened {
    & .chipex-nav-items {
        left: 0px !important;

        & ul {
            & li {

                & a {
                    justify-content: initial !important;
                }

                & .li-text {
                    display: initial !important;
                }
            }
        }
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}

.inline-flex {
    display: inline-flex;
}

.margin-1 {
    margin: 1rem;
}

.s-color-filter {
    filter: brightness(0) saturate(100%) invert(73%) sepia(70%) saturate(1802%) hue-rotate(53deg) brightness(106%) contrast(88%);
}

.blur {
    filter: blur(0);
}

@keyframes grad {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}