<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play | Chipex-8</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/play.css">
</head>

<body>
    <header>
        <div>
            <nav id="chipex-nav">
                <div class="chipex-nav-scope">
                    <button id="chipex-nav-button">
                        <img src="/public/img/nav.svg" class="s-color-filter" alt="nav" height="26" width="26">
                    </button>
                </div>
                <div class="chipex-nav-items">
                    <ul>
                        <li id="games-li" class="li-selected"><a href="index.html">
                                <span class="li-text">Games</span>
                                <img src="/public/img/controller.svg" alt="" class="li-icon s-color-filter">
                            </a></li>
                        <li id="config-li"><a href="config.html">
                                <span class="li-text">Configurations</span>
                                <img src="/public/img/gear.svg" alt="" class="li-icon s-color-filter">
                            </a></li>
                        <li id="credits-li"><a href="credits.html">
                                <span class="li-text">Credits</span>
                                <span class="li-icon center" style="font-size: 24pt;">&copy;</span>
                            </a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <article id="console">
            <section id="controllers">
                <div>
                    <button id="input-1">
                        1
                    </button>
                    <button id="input-2">
                        2
                    </button>
                    <button id="input-3">
                        3
                    </button>
                    <button id="input-C">
                        4
                    </button>
                </div>
                <div>
                    <button id="input-4">
                        Q
                    </button>
                    <button id="input-5">
                        W
                    </button>
                    <button id="input-6">
                        E
                    </button>
                    <button id="input-1">
                        R
                    </button>
                </div>
                <div>
                    <button id="input-7">
                        A
                    </button>
                    <button id="input-8">
                        S
                    </button>
                    <button id="input-9">
                        D
                    </button>
                    <button id="input-E">
                        F
                    </button>
                </div>
                <div>
                    <button id="input-7">
                        Z
                    </button>
                    <button id="input-7">
                        X
                    </button>
                    <button id="input-7">
                        C
                    </button>
                    <button id="input-F">
                        V
                    </button>
                </div>
            </section>
            <canvas id="game-window"></canvas>
        </article>
    </main>
</body>

</html>